@model Budovy.Models.AddModels.AddBuildingModel

@{
    Layout = "_Layout";
}
<div>
    <h1>@ViewData["buildingName"]</h1>
    <h1>@ViewData["buildingDesc"]</h1>
    <button>Remove Building</button>
    <p>pppppppppppppp</p>
</div>